label{
    display: block;
    margin-bottom: 15px;
}

td, th{
    border: 2px solid cadetblue;
    padding: 5px 15px;
}
table{
    border-collapse: collapse;
    font-size: 150%;
    text-align: left;
}