nav ul li a{

    text-decoration: none;
    color: black;
    font-size: 20px;

}

ul li{
    list-style: none;
    display: inline;
    padding: 7px 12px;
}
ul li:hover{
    background-color:gray;

}